<div id='sortable' data-sortable-type="main">
<% subjects.each do |subject| %>
    <div class='treeViewDiv' pid="<%= subject.id %>" parent="<%= subject.parent %>" data-sortable-type="main">
		
    </div>
<% end %>
</div>