<h3><%= @subject.title %></h3>
<ul>
  <strong>Description:</strong> <%= @subject.description %>
  <br/>
  <strong>Created at:</strong>  <%= @subject.created_at %>
  <br/>
</ul>
<button>Edit</button>
<button>Delete</button>
